@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css');
@import url('slick.css');
@import url('slick-theme.css');
@import url('animate.min.css');
@import url('bootstrap.min.css');



body{
    font-family: "Noto Sans KR", sans-serif;
    background: #e8eaeb;
}

@media (min-width:1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl{
        max-width: 1440px;
    }
}


/************* HEADER *************/
header{
    background: #12406b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    margin-left: -15px;
    margin-right: -15px;
}
a.brand{
    color: #fff;
    font-size: 28px;
    line-height: 70px;
    font-weight: 700;
    text-decoration: none;
}
nav a{
    color: #fff;
    margin-right: 30px;
}


/**********login form******************/
.login-form {
    max-width: 350px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.AttendanceBox{
	width:100%;
	background: #fff;
}

.AttendanceBox th, td{
    text-align: center;
}
.AttendanceBox a:hover{
    text-decoration: none;
}
.AttendanceBox .paging{
    list-style: none;
}
.AttendanceBox .paging i{
	font-size: 30px;
}

/************* 수강신청 ****************/
section{
    width:1440px;
    padding-top: 15px;
}
.tabnav{
    display: flex;
    margin-left:-35px;
}
.tabnav li{
    background-color: #fff;
    border:1px solid #ddd;
    border-radius:10px 10px 0 0;
    padding: 8px 20px;
    list-style-type:none;
}
.tabnav li a{
   color:#000;
}
.tabnav li.active{
    background-color: #12406b;
    border:1px solid #12406b;
}
.tabnav li.active a{
    color: #fff;
    font-weight: bold;
}
/*
.tab{
    background-color: rgb(225,225,230);
    padding: 15px 20px;
    display: none;
}
*/
.tab.active{
    display: block;
}
.line-box{
   width:1360px;
   height:2px;
   background: #12406b;
    margin-top:-16px;
}
.searchbox{
    border: 1px solid #ddd;
    border-radius: 15px;
    padding:30px;
    margin-top:20px;
    margin-bottom:10px;
}
.search1,
.search2{
   display:flex;
    justify-content: space-between;
}
.dropdown-toggle{
   border: 1px solid #ddd;
   width:400px;
}
.textbox{
   width:400px;
}

.listbox, .register, .write, .member, .memberlist, .update, .contents, .delete{
    background: #fff;
    padding: 40px;
}
.listbox{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.list-inbox{
    border: 1px solid #ddd;
    border-radius: 15px;
    padding:30px;
}
.listbox h1{
    font-size: 20px;
}
.listbox h3{
    font-size: 18px;
}
.listbox .table{
    border-bottom: 1px solid #dee2e6;
}
.listbox th{
    text-align: center;
    position: relative;
}
.listbox th:not(:last-child)::after{
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background: #ddd;
    box-shadow: 1px 0 0 #afd6e6;
    position: absolute;
    right: 0;
    top: 18px;
}
/*
.regist{
   width:1440px;
   left:15px;
   border:1px solid gray;
    padding: 10px 30px;
}
*/


/************* FOOTER *************/
footer{
    width:1440px;
    height:100px;
    background-color: #434c53;
    text-align: center;
    margin: 15px -15px;
    padding: 30px 0px;
}
footer>p{
    color: #dfdada;
    font-size:14px;
    margin-bottom: 0;
}